[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-simplestopwatch
Exec=harbour-simplestopwatch
Name=Stopwatch
Name[fi]=Sekuntikello
Name[sv]=Stoppur
